<p style="color: green"><%= notice %></p>

<h1>Books</h1>

<div id="books">
  <% @books.each do |book| %> <%= render book %>
  <p><%= link_to "Show this book", book %></p>
  <% end %>
</div>

<%= link_to "New book", new_book_path %>
<br></br>
<%= link_to "Sign up",
new_user_registration_path %>
